.circle1 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: green;
}

.circle2 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: red;
}

#isCrash {
  font-size: 100px;
}