<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/payment_page/style.css">
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>
    <div class="sub-body">
      <header class="header">
        <h1 class="price"><span class="price__dollar">₩</span>10,000<span class="price__time">/ 월</span></h1>
        <p class="desc">무슨무슨 패키지</p>
      </header>

      <div class="select-body">
        <div class="select-body__content select-body--card is-active">
          <form action="/onlinept/purchase_one" method="post" id="cardForm">
            <label class="form__label" for="card-number">카드번호</label>
            <div class="card-input" id="card-number"></div>

            <label class="form__label" for="expiration-month">카드 만료일</label>
            <div class="date__container">
              <div class="card-input" id="expiration-month"></div>

              <div class="card-input" id="expiration-year"></div>
            </div>

            <label class="form__label" for="cvv">CVC</label>
            <div class="card-input" id="cvv"></div>

            <label class="form__label" for="cvv">카드 비밀번호</label>
            <div class="card-input" id="postal-code"></div>

            <input type="submit" value="결제하기" id="submit" />
          </form>
        </div>

        <div class="select-body__content select-body--paypal">
          <script src="https://www.paypalobjects.com/api/button.js?" data-merchant="braintree" data-id="paypal-button"
            data-button="subscribe" data-color="gold" data-size="medium" data-shape="pill" data-button_type="submit"
            data-button_disabled="false"></script>
        </div>
      </div>
    </div>


    <!-- <script src="./index.js"></script> -->
</body>

</html>